version: '3.9'
services:
  etl:
    build: ../data_pipeline
    container_name: etl
    ports:
      - "8000:8000"  
    volumes:
      - /mnt/vdb/raw_data:/app/raw_data   # allow container read data from local
      - /mnt/vdb/output:/app/output
    environment:
      - ETL_MODE=prod
    command: >
      bash -c "python3 etl.py"
